html {
    scroll-behavior: smooth;
}

#footer {
    padding: 1%;
    align-items: center;
}

#links {
    font-size: 20px;
    color: #000;
    padding-right: 1%;
}

p {
    font-family: Merriweather;
}

#result {
    color: #000000be;
}

#note {
    font-size: 14px;
    color: #0000009d;
}

ul {
    font-family: Merriweather;
}

h1 {
    padding-top: 2%;
}

h2 {
    padding-top: 4%;
    padding-bottom: 1%;
}