html {
    scroll-behavior: smooth;
}

#footer {
    padding: 1%;
    align-items: center;
}

#links {
    font-size:20px;
    color:#000;
    padding-right: 1%;
}

p {
    font-family: Merriweather;
}

#relevantCoursework {
    font-size: 20px;
    font-weight: bold;
}

#finalGrade {
    color: #000000be;
}   